
  <h1>New Restaurant</h1>
  <div class="custom-border-top my-3"></div>

<%= render 'form', restaurant: @restaurant %>
<div class="btn btn-outline-warning">
<%= link_to 'Back', restaurants_path %>
</div>
